* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.settings{
  display: flex;
}

.empty-div{
  flex: 3;
}

.settingsWrapper {
  flex: 6;
  padding: 20px;
} 
 
.settingsTitle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsUpdateTitle{
  display: flex;
  align-items: center;
  justify-content:center;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  color: rgb(10, 15, 10);
}

.settingsDeleteTitle{
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.settingsForm{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  font-family: 'Fredoka', sans-serif;;
}

.settingsPP{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.settingsPP > img{
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsPPIcon{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightgreen;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsForm > input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.settingsForm > input[type=email] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.settingsForm > input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.settingsSubmit {
  width: 50%;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.deleteButton {
  width: 50%;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: red;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: red;
  color: white;
}

.sidebarAbout{
  flex: 3;
  margin-top:50px;
}