.register{
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: 
  linear-gradient(
      rgba(255,255,255,0.4), 
      rgba(255,255,255,0.4)
    ), 
    url("https://t4.ftcdn.net/jpg/04/09/65/71/240_F_409657181_sRsNzbmI5xdHyVMWvx1zFis0Z9ECXpYG.jpg");
    background-size: cover;
}

.registerTitle{
  font-size: 50px;
  font-family: 'League Gothic', sans-serif;
}

.registerForm{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerForm > label{
  margin: 10px 0;
  font-family: 'Fredoka', sans-serif;
}

.registerInput{
  padding: 10px;
  background-color: white;
  width: 150%;
  border: none;
  cursor: auto;
  border-radius: 5px;
}

.registerButton{
  margin-top: 20px;
  margin-right: 2px;
  width: 150%;
  cursor: pointer;
  background-color: rgb(238, 39, 33);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.registerLoginButton{
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: rgb(51, 173, 214);
  cursor : pointer;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.linkTag{
  color: rgb(20, 50, 95);
  font-weight: bold;
  font-family:'Fredoka', sans-serif; ;
}