.header{
    margin-top: 60px;
}

.headerTitles{
    display:flex;
    align-items:center;
    flex-direction:column;
    font-family: 'Hubballi', cursive;
    color: #444;
}

.headerTitleSm{
    position: absolute;
    top: 18%;
    font-size:20px
}

.headerTitleLg{
    position: absolute;
    top: 20%;
    font-size:100px
}

.headerImg{
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-top:80px;
}