/* body {
  -webkit-transform: perspective(900px);
  -webkit-transform-style: preserve-3d;
} */
.body {
  perspective: 900px;
  transform-style: preserve-3d;
  padding: 10px;
}
.post{
  width: 500px;
  height: 500px;
  margin: 10px 25px 40px 25px;
  transition:.6s;
  transform: rotatex(60deg) translatey(-100px) translatez(-200px);
  box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
  z-index: 999;
  perspective: 900px;
  transform-style: preserve-3d;
  border-radius: 7px;
  background-color: #444;
  
}

.post:hover{
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition:.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}


.postImg{
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
 
}

.postInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  color: white;
  
}

.postCat{
  font-family: 'League Gothic', sans-serif;
  font-size: 20px;
  color: #be9656;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle{
  font-family: 'Fredoka', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
  color: white;
}

.postDate{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 13px;
  color: #999;
  margin-top: 15px;
}

.postDesc{
  font-family: 'EB Garamond', serif;
  font-size: 14px;
  color: white;
  line-height: 24px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  
}

.postButton{
  text-decoration: none;
  color: white;
  text-align: left;
}

.btn-post{
  margin: auto;
  width: 50%;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 10px;
  margin-left: 105px;
  cursor: pointer;
}

.btn-post:hover {
  background-color: rgb(5, 48, 48);
}