/* .header {
    position: sticky;
    top: 0;
    
} */
.headerTitles{
    display:flex;
    align-items:center;
    flex-direction:column;
    font-family: 'Dancing Script', cursive;
    color: #444;
}

.headerTitleLg{
    position: absolute;
    top: 18%;
    left: 65%;
    font-size:120px

}

.headerImg{
    width: 100%;
    
    object-fit: cover;
   
}